/* Beatriz */
*{
    margin: 0;
    padding: 0;
}
.header{
    height: 4rem;
    background-color: rgb(122, 229, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow-x: auto;
    scrollbar-width: thin;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header img{
    height: 3.5rem;
    mix-blend-mode: multiply;
}
form{
    display: flex;
    align-items: center;
}
form input{
    padding: 0.5rem;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}
form button{
    padding: 0.5rem 1rem;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover{
    background-color: #ccc;

}
.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.links li{
    font-size: 1rem;
}
.links a {
    text-decoration: none;
    color: black;
    display: inline-block; 
    padding: 10px 20px; 
    transition: all 0.3s ease; 
}

.links a:hover{
    text-decoration: none;
    background-color: rgb(12, 97, 110);
    height: 20px;
    color: #ffffff;
}

/* Jéssica */
#inicio{
    width: 100%;
    position: relative;
    display: inline-block;
}
#inicio::after { 
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
#inicio img{
    display: block;
    width: 100%;
}
#produtos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 1.5rem;
    padding:3rem;
    background-color: rgba(255, 255, 255, 1);
}
.roupa{
    width: 17rem;
    height: 22rem;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roupa:hover{
    box-shadow: 0 0 1rem rgb(74, 74, 74);
    cursor: pointer;
}
.roupa img{
    width: 17rem;
    height: 17rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 1200px){
    #produtos { grid-template-columns: repeat(3, 1fr);} 
} 
@media (max-width: 900px){
    #produtos { grid-template-columns: repeat(2, 1fr);} 
} 
@media (max-width: 600px){
    #produtos { grid-template-columns: 1fr;}
}
.a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(122, 229, 233);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.a ul{
    list-style-type: none;
}
.b{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b ul{
    display: inline-flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.copyrigth{
    text-align: center;
    font-size: small;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.btn{
    cursor: pointer;
}

/* Eduarda */
.section {
    padding: 40px;
    text-align: center;
}
#about {
    background-color: #e9e9e9;
}
#contato {
    background-color: #fff;
    h1{color:cadetblue}
}
.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-contato label {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
}
.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form-contato button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.form-contato button:hover {
    background-color: #555;
}

/* João */

.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    background:transparent;
    border: 0;
    padding:0 10px;
    font-size: 20px;
    height: 100%;
}
#title-pag{
    background: rgb(122, 229, 233);
    color: rgb(62, 62, 62);
    font-size: 24px;
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#title-pag h1{ 
    margin-right: 6rem;
} 
#title-pag span{ 
    flex: 1; 
    text-align: center;
}
#title-pag a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
#title-pag a:hover{
    text-decoration: none;
    background-color: rgb(12, 97, 110);
    height: 20px;
    color: #ffffff;
}
main{
    background: #f6f6f6;
    padding: 50px 0;
}
.page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center; 
}
.content{
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
}
section{
    flex: 1;
    background-color: #e9e9e9;
}
aside{
    background: #e9e9e9;
    min-width: 250px;
    text-transform: uppercase;
    color: #666;
    text-align: center;
    padding-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead tr{
    border-bottom: 3px solid #cce;
}   
thead th{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}
tbody tr {
    border-bottom: 3px solid cadetblue;
}
tbody td {
    padding: 0.5rem 0;
}
.product {
    display:flex;
    align-items: center;
}
td img {
    width: 6rem;
    margin-left: 2rem;
    border-radius: 6px;
}
.info {
    margin-left: 20px;
}
.qty {
    background: #666;
    display: inline-flex;
    padding: 0 0;
    justify-content:space-around;
    align-items:center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
span {
    margin: 0 10px;
}
