*{
    margin: 0;
    padding: 0;
}
.header{
    height: 4rem;
    background-color: rgb(122, 229, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header img{
    height: 3.5rem;
    mix-blend-mode: multiply;
}
form{
    display: flex;
    align-items: center;
}
form input{
    padding: 0.5rem;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}
form button{
    padding: 0.5rem 1rem;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover{
    background-color: #ccc;

}
.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.links li{
    font-size: 1rem;
}
.links a {
    text-decoration: none;
    color: black;
    display: inline-block; 
    padding: 10px 20px; 
    transition: all 0.3s ease; 
}

.links a:hover{
    text-decoration: none;
    background-color: rgb(12, 97, 110);
    height: 20px;
    color: #ffffff;
}

#inicio{
    width: 100%;
    position: relative;
    display: inline-block;
}
#inicio::after { 
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
#inicio img{
    display: block;
    width: 100%;
}
#produtos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 1.5rem;
    padding:3rem;
}
.roupa{
    width: 17rem;
    height: 22rem;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roupa:hover{
    box-shadow: 0 0 1rem rgb(74, 74, 74);
    cursor: pointer;
}
.roupa img{
    width: 17rem;
    height: 17rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}
